apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics
  labels:
    app: analytics
spec:
  replicas: 1
  selector:
    matchLabels:
      app: analytics
  template:
    metadata:
      labels:
        app: analytics
    spec:
      initContainers:
      - name: check-db-ready
        image: postgres:13-alpine
        command: ['sh', '-c']
        args:
          - |
            echo "Waiting for database to be ready..."
            until pg_isready -h $(POSTGRES_HOST) -p $(POSTGRES_PORT) -U postgres; do
            echo "Waiting for database to start..."
              sleep 2
              done
          - echo "Database is ready"
        env:
        - name: PGPASSWORD
          value: $(POSTGRES_PASSWORD)
        envFrom:
          - configMapRef:
              name: common-config
          - secretRef:
              name: common-secrets
      containers:
      - name: analytics
        image: supabase/logflare
        ports:
        - containerPort: 4000
          name: analytics
        # resources:
        #   requests:
        #     memory: "256Mi"
        #     cpu: "100m"
        #   limits:
        #     memory: "2Gi"
        #     cpu: "500m"
        env:
        - name:  LOGFLARE_NODE_HOST
          value: 127.0.0.1
        - name: DB_USERNAME
          value: supabase_admin
        - name: DB_DATABASE
          value: _supabase
        - name: DB_HOSTNAME
          value: $(POSTGRES_HOST)
        - name: DB_PORT
          value: $(POSTGRES_PORT)
        - name: DB_PASSWORD
          value: $(POSTGRES_PASSWORD)
        - name: DB_SCHEMA
          value: _analytics
        - name: LOGFLARE_API_KEY
          value: $(LOGFLARE_API_KEY)
        - name: LOGFLARE_SINGLE_TENANT
          value: "true"
        - name: LOGFLARE_SUPABASE_MODE
          value: "true"
        - name: LOGFLARE_MIN_CLUSTER_SIZE
          value: "1"

        # Comment variables to use Big Query backend for analytics
        - name: POSTGRES_BACKEND_URL
          value: postgresql://supabase_admin:$(POSTGRES_PASSWORD)@$(POSTGRES_HOST):$(POSTGRES_PORT)/_supabase
        - name: POSTGRES_BACKEND_SCHEMA
          value: _analytics
        - name: LOGFLARE_FEATURE_FLAG_OVERRIDE
          value: multibackend=true
        # Uncomment to use Big Query backend for analytics
        # - name: GOOGLE_PROJECT_ID
        #   value: ${GOOGLE_PROJECT_ID}
        # - name: GOOGLE_PROJECT_NUMBER
        #   value: ${GOOGLE_PROJECT_NUMBER}
        envFrom:
          - configMapRef:
              name: common-config
          - secretRef:
              name: common-secrets
---
apiVersion: v1
kind: Service
metadata:
  name: analytics
spec:
  ports:
    - port: 4000
      targetPort: 4000
  selector:
    app: analytics