apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  labels:
    app: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      initContainers:
      - name: init-db-scripts
        image: supabase/postgres
        command: ["/bin/sh", "-c"]
        args:
          - |
            echo "Copying init scripts into existing image script directory..."
            cp -r /docker-entrypoint-initdb.d/* /initdb.d/
            cp /custom-init-scripts/98-webhooks.sql /initdb.d/init-scripts/
            cp /custom-init-scripts/99-roles.sql /initdb.d/init-scripts/
            cp /custom-init-scripts/99-jwt.sql /initdb.d/init-scripts/
            
            cp /custom-init-scripts/97-_supabase.sql /initdb.d/migrations/
            cp /custom-init-scripts/99-logs.sql /initdb.d/migrations/
            cp /custom-init-scripts/99-pooler.sql /initdb.d/migrations/
            cp /custom-init-scripts/99-realtime.sql /initdb.d/migrations/

            #echo "Copying user-defined migration scripts..."
            #cp /custom-migrations/* /initdb.d/migrations/ || echo "Skip migrations"
            echo "Initialization scripts are ready"
        volumeMounts:
            - mountPath: /custom-init-scripts
              name: custom-init-scripts
            - mountPath: /custom-migrations
              name: custom-migrations
            - mountPath: /initdb.d
              name: initdb-scripts-data
      containers:
      - name: db
        image: supabase/postgres
        # command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf", "-c", "log_min_messages=fatal"]
        ports:
        - containerPort: 5432
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "2Gi"
            cpu: "500m"
        # readinessProbe:
        #   exec:
        #     command: ["pg_isready", "-U", "postgres", "-h", "localhost"]
        #   initialDelaySeconds: 5
        #   periodSeconds: 5
        #   timeoutSeconds: 5
        #   failureThreshold: 10
        # livenessProbe:
        #   exec:
        #     command: ["pg_isready", "-U", "postgres", "-h", "localhost"]
        #   initialDelaySeconds: 30
        #   periodSeconds: 5
        #   timeoutSeconds: 5
        #   failureThreshold: 10
        env:
        - name: POSTGRES_HOST
          value: /var/run/postgresql
        - name: PGPORT
          value: $(POSTGRES_PORT)
        - name: PGPASSWORD
          value: $(POSTGRES_PASSWORD)
        - name: POSTGRES_PASSWORD
          value: $(POSTGRES_PASSWORD)
        - name: PGDATABASE
          value: $(POSTGRES_DB)
        - name: POSTGRES_DB
          value: $(POSTGRES_DB)
        - name: JWT_SECRET
          value: $(JWT_SECRET)
        - name: JWT_EXP
          value: $(JWT_EXPIRY)
        envFrom:
          - configMapRef:
              name: common-config
          - secretRef:
              name: common-secrets
        volumeMounts:
        - name: postgres-data
          mountPath: /var/lib/postgresql/data
        - name: initdb-scripts-data
          mountPath: /docker-entrypoint-initdb.d
      volumes:
      - name: postgres-data
        persistentVolumeClaim:
          claimName: db-pvc
      - name: initdb-scripts-data
        emptyDir: {}
      - name: custom-init-scripts
        configMap:
          name: postgres-init-scripts
      - name: custom-migrations
        configMap:
          name: postgres-migration-scripts
---
apiVersion: v1
kind: Service
metadata:
  name: db
spec:
  selector:
    app: db
  ports:
  - port: 5432
    targetPort: 5432
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi