apiVersion: apps/v1
kind: Deployment
metadata:
  name: meta
  labels:
    app: meta
spec:
  replicas: 1
  selector:
    matchLabels:
      app: meta
  template:
    metadata:
      labels:
        app: meta
    spec:
      containers:
      - name: meta
        image: supabase/postgres-meta
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        env:
        - name: PG_META_PORT
          value: "8080"
        - name: PG_META_DB_HOST
          value: $(POSTGRES_HOST)
        - name: PG_META_DB_PORT
          value: $(POSTGRES_PORT)
        - name: PG_META_DB_NAME
          value: $(POSTGRES_DB)
        - name: PG_META_DB_USER
          value: supabase_admin
        - name: PG_META_DB_PASSWORD
          value: $(POSTGRES_PASSWORD)
        envFrom:
          - configMapRef:
              name: supabase-common-config
          - secretRef:
              name: supabase-common-secrets