apiVersion: apps/v1
kind: Deployment
metadata:
  name: realtime
  labels:
    app: realtime
spec:
  replicas: 1
  selector:
    matchLabels:
      app: realtime
  template:
    metadata:
      labels:
        app: realtime
    spec:
      initContainers:
      - name: check-db-ready
        image: postgres:13-alpine
        command: ['sh', '-c']
        args:
          - |
            echo "Waiting for database to be ready..."
            until pg_isready -h $(POSTGRES_HOST) -p $(POSTGRES_PORT) -U postgres; do
            echo "Waiting for database to start..."
              sleep 2
              done
          - echo "Database is ready"
        env:
        - name: PGPASSWORD
          value: $(POSTGRES_PASSWORD)
        envFrom:
          - configMapRef:
              name: common-config
          - secretRef:
              name: common-secrets
      containers:
      - name: realtime
        image: supabase/realtime
        # resources:
        #   requests:
        #     memory: "256Mi"
        #     cpu: "100m"
        #   limits:
        #     memory: "2Gi"
        #     cpu: "500m"
        # readinessProbe:
        #   exec:
        #     command: ["curl","-sSfL","--head","-o","/dev/null","-H","Authorization: Bearer $(ANON_KEY)","http://localhost:4000/api/tenants/realtime-dev/health"]
        #   initialDelaySeconds: 5
        #   periodSeconds: 5
        #   timeoutSeconds: 5
        #   failureThreshold: 3
        # livenessProbe:
        #   exec:
        #     command: ["curl","-sSfL","--head","-o","/dev/null","-H","Authorization: Bearer $(ANON_KEY)","http://localhost:4000/api/tenants/realtime-dev/health"]
        #   initialDelaySeconds: 30
        #   periodSeconds: 5
        #   timeoutSeconds: 5
        #   failureThreshold: 3
        command: ["/bin/sh"]
        args: ["-c", "/app/bin/migrate && /app/bin/realtime eval 'Realtime.Release.seeds(Realtime.Repo)' && /app/bin/server"]
        env:
        - name: PORT
          value: "4000"
        - name: DB_HOST
          value: $(POSTGRES_HOST)
        - name: DB_PORT
          value: $(POSTGRES_PORT)
        - name: DB_USER
          value: supabase_admin
        - name: DB_PASSWORD
          value: $(POSTGRES_PASSWORD)
        - name: DB_NAME
          value: $(POSTGRES_DB)
        - name: DB_AFTER_CONNECT_QUERY
          value: 'SET search_path TO _realtime'
        - name: DB_ENC_KEY
          value: supabaserealtime
        - name: API_JWT_SECRET
          value: $(JWT_SECRET)
        - name: SECRET_KEY_BASE
          value: $(SECRET_KEY_BASE)
        - name: ERL_AFLAGS
          value: -proto_dist inet_tcp
        - name: DNS_NODES
          value: "''"
        - name: RLIMIT_NOFILE
          value: "10000"
        - name: APP_NAME
          value: realtime
        - name: SEED_SELF_HOST
          value: "true"
        - name: RUN_JANITOR
          value: "true"
        envFrom:
          - configMapRef:
              name: common-config
          - secretRef:
              name: common-secrets
---
apiVersion: v1
kind: Service
metadata:
  name: realtime
spec:
  selector:
    app: realtime
  ports:
    - port: 4000
      targetPort: 4000
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: realtime-v1
spec:
  entryPoints:
    - web
  routes:
    - match: PathPrefix(`/realtime/v1`)
      kind: Rule
      services:
        - name: supabase-realtime
          port: 4000
          passHostHeader: true
      middlewares:
      - name: supabase-cors
      - name: supabase-realtime-stripprefix
    - match: PathPrefix(`/realtime/v1/api`)
      kind: Rule
      services:
        - name: supabase-realtime
          port: 4000
      middlewares:
      - name: supabase-cors
      - name: supabase-realtime-stripprefix