apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik
  labels:
    app: traefik
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      serviceAccountName: traefik-account
      containers:
        - name: traefik
          image: traefik
          args:
            - --api.insecure
            - --providers.kubernetesingress
            - --providers.kubernetescrd
            - --log.level=INFO
            - --entryPoints.web.address=:80
            - --entryPoints.websecure.address=:443
          ports:
            - name: web
              containerPort: 80
            - name: dashboard
              containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: traefik
  labels:
    app: traefik
spec:
  type: LoadBalancer
  selector:
    app: traefik
  ports:
    - port: 80
      name: web
      targetPort: web
    - port: 443
      name: websecure
      targetPort: websecure
    - port: 8080
      name: dashboard
      targetPort: dashboard
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: cors
spec:
  headers:
    accessControlAllowOriginList:
      - "*"
    accessControlAllowMethods:
      - "GET"
      - "POST"
      - "OPTIONS"
    accessControlAllowHeaders:
      - "*"
    accessControlAllowCredentials: true
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: dashboard-basicauth
spec:
  basicAuth:
    secret: basicauth-secrets
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: auth-stripprefix
spec:
  stripPrefix:
    prefixes:
      - /auth/v1
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: rest-stripprefix
spec:
  stripPrefix:
    prefixes:
      - /rest/v1
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: graphql-replacepath
spec:
  replacePathRegex:
    regex: ^/graphql/v1/?(.*)
    replacement: /rpc/graphql/$1
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: graph-add-content-profile
spec:
  headers:
    customRequestHeaders:
      Content-Profile: graphql_public
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: realtime-stripprefix
spec:
  stripPrefix:
    prefixes:
      - /realtime/v1
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: storage-stripprefix
spec:
  stripPrefix:
    prefixes:
      - /storage/v1
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: functions-stripprefix
spec:
  stripPrefix:
    prefixes:
      - /functions/v1
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: analytics-stripprefix
spec:
  stripPrefix:
    prefixes:
      - /analytics/v1
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: meta-stripprefix
spec:
  stripPrefix:
    prefixes:
      - /pg
---
# apiVersion: traefik.io/v1alpha1
# kind: Middleware
# metadata:
#   name: key-auth
# spec:
#   plugin:
#     header-auth:
#       headerName: "apikey"
#       headerValue: "$(ANON_KEY)"
# ---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: traefik-role
  namespace: supabase
rules:
  - apiGroups:
      - ""
    resources:
      - services
      - secrets
      - nodes
      - configmaps
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - discovery.k8s.io
    resources:
      - endpointslices
    verbs:
      - list
      - watch
  - apiGroups:
      - extensions
      - networking.k8s.io
    resources:
      - ingresses
      - ingressclasses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - extensions
      - networking.k8s.io
    resources:
      - ingresses/status
    verbs:
      - update
  - apiGroups:
      - traefik.io
    resources:
      - middlewares
      - middlewaretcps
      - ingressroutes
      - traefikservices
      - ingressroutetcps
      - ingressrouteudps
      - tlsoptions
      - tlsstores
      - serverstransports
      - serverstransporttcps
    verbs:
      - get
      - list
      - watch
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: traefik-account
  namespace: supabase
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: traefik-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: traefik-role
subjects:
  - kind: ServiceAccount
    name: traefik-account
    namespace: supabase