apiVersion: v1
kind: ServiceAccount
metadata:
  name: vector-sa
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: vector-log-collector
rules:
  - apiGroups: [""]
    resources: ["pods", "namespaces"]
    verbs: ["list", "watch", "get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: vector-log-collector-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: vector-log-collector
subjects:
  - kind: ServiceAccount
    name: vector-sa
    namespace: supabase
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vector
  labels:
    app: vector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vector
  template:
    metadata:
      labels:
        app: vector
    spec:
      serviceAccountName: vector-sa
      initContainers:
      - name: vector-migrations
        image: bfogarty/envsubst:latest
        command: ['/bin/sh', '-c']
        args:
          - |
            echo "Running Vector migrations..."
            envsubst < /etc/vector/vector.yml > /etc/vector/tmp/temp.yml

        envFrom:
          - configMapRef:
              name: common-config
          - secretRef:
              name: common-secrets
        volumeMounts:
          - name: vector-volume
            mountPath: /etc/vector/vector.yml
            subPath: vector.yml
          - name: vector-template
            mountPath: /etc/vector/tmp
      containers:
      - name: vector
        image: timberio/vector
        args: ["--config", "/etc/vector/tmp/temp.yml"]
        # ports:
        # - containerPort: 4000
        #   name: vector
        # resources:
        #   requests:
        #     memory: "256Mi"
        #     cpu: "100m"
        #   limits:
        #     memory: "2Gi"
        #     cpu: "500m"
        env:
        - name: VECTOR_SELF_NODE_NAME 
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name:  LOGFLARE_API_KEY
          value: $(LOGFLARE_API_KEY)
        envFrom:
          - configMapRef:
              name: common-config
        volumeMounts:
        - name: vector-template
          mountPath: /etc/vector/tmp/temp.yml
          subPath: temp.yml
      volumes:
      - name: vector-template
        emptyDir: {}
      - name: vector-volume
        configMap:
          name: vector-config
