# CORS plugin (à appliquer sur les routes concernées)
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: cors
  annotations:
    argocd.argoproj.io/sync-wave: "2"
plugin: cors
---
# Key-auth plugin
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: key-auth
  annotations:
    argocd.argoproj.io/sync-wave: "2"
plugin: key-auth
config:
  hide_credentials: false
---
# ACL plugin (admin et anon)
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: anyone-acl
  annotations:
    argocd.argoproj.io/sync-wave: "2"
plugin: acl
config:
  allow: ["admin","anon"]
---
# ACL plugin (admin only)
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: admin-acl
  annotations:
    argocd.argoproj.io/sync-wave: "2"
plugin: acl
config:
  allow: ["admin"]
---
# Basic-auth plugin (dashboard)
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: basic-auth
  annotations:
    argocd.argoproj.io/sync-wave: "2"
plugin: basic-auth
config:
  hide_credentials: true
---
# Request transformer (graphql)
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: graphql-transform
  annotations:
    argocd.argoproj.io/sync-wave: "2"
plugin: request-transformer
config:
  add:
    headers:
      - Content-Profile:graphql_public
---
apiVersion: configuration.konghq.com/v1
kind: KongConsumer
metadata:
  name: anon
  annotations:
     kubernetes.io/ingress.class: kong
     argocd.argoproj.io/sync-wave: "2"
username: anon
credentials:
  - anon-key-auth
  - anon-acl
---
apiVersion: configuration.konghq.com/v1
kind: KongConsumer
metadata:
  name: service-role
  annotations:
    kubernetes.io/ingress.class: kong
    argocd.argoproj.io/sync-wave: "2"
username: service_role
credentials:
  - service-key-auth
  - admin-acl
---
apiVersion: configuration.konghq.com/v1
kind: KongConsumer
metadata:
  name: dashboard
  annotations:
    kubernetes.io/ingress.class: kong
    argocd.argoproj.io/sync-wave: "2"
username: dashboard
credentials:
  - dashboard-basic-auth